<h3>Favorites</h3>
<div class="favclass">
  {{#each favoriteQuestions.items as |item|}}
    <h4>{{#link-to 'question' item.id}}{{item.query}}{{/link-to}}</h4>
    <button class="btn btn-danger" {{action 'removeFromFavs' item}}>Remove</button>
    <hr>
  {{/each}}
</div>
