<form>
        <div class="form-group">
          {{input value=author id="author" placeholder="Name"}}
        </div>

        <div class="form-group">
          {{input value=query id="query" placeholder="Question"}}
        </div>

        <div class="form-group">
          {{input value=note id="note" placeholder="Additional Info"}}
        </div>

        <button {{action 'save'}}>Ask</button>
      </form>
