<nav id="topNav" class='navbar navbar-default navbar-fixed-top'>
    <button type="button" class="link btn btn-default navbar-btn"><span class="lina">{{#link-to 'index'}}Home{{/link-to}}</span></button>
</nav>

{{outlet}}
